div.container-fluid{
	background:url("../images/fondo.jpg");
	margin: 0px;
	padding: 0px;
}
header{
	padding: 7px;

}
.my-btn-default{
	background-color: rgba(255,255,255,0);
	color:white;
	font-weight: bold;
	border :0;
}

.my-btn-default:hover{
	background-color: rgba(255,255,255,0.3);
	color:white;
}

div.trello{
	text-align: center;
	opacity: 0.5;
	padding-top: 5px;
}

div.trello:hover{
	opacity: 0.8;
	
}

.background-opacity-1{
	background: rgba(255,255,255,0.1);
}

.background-opacity-2{
	background: rgba(255,255,255,0.2);
}

nav{
	padding: 7px;
	background: rgba(0,0,0,0.1);
}

.my-input{
	width: 150px;
	border: 0px;
	color: white;
	font-weight: bold;
	padding-top: -10
}
.my-width{
	width : 150px;
}
.my-rigth{
	text-align: right;
}

.bigger-text{
	font-size: 1.4em;
}

.reduce-text{
	font-size: 0.8em;
}

.my-padding{
	padding: 8px 15px;
}
.my-margin{
	margin: 8px 15px;
}

.recude{
	height:200px;
	width:200px;
}

.contenedor-caja{
	background-color: #E2E4E6;
	font-weight: bold;
	font-size: 1.2em;
	color:#000;
	margin: 7px;
	border-radius: 3px;
	margin-bottom: 175px;
}
.caja{
	background-color: #FFF;
	color:#000;
	padding:3px 10px;
	margin:10px 0px;
	font-size: 0.9em;
	font-weight: normal;
	border-radius: 3px;
}
.caja:hover{
	background-color: #EDEFF0;
}
.panel{
	height: 8px;
	width: 50px;
	border-radius: 2px;
	margin: 5px 0px 3px 0px;
}
.morado{
		background-color: #C377E0;
}

.verde{
		background-color: #51E898;
}

.rosa{
		background-color: #FF80CE;
}

.azul{
		background-color: #00C2E0;
}
 
.naranja{
		background-color: #FFAB4A;
}

.img-arbol{
	width:99%;
}

   